
<div class="container_menu">
    <div class="nav_horizontal">
        <img src="/images/perfil.png">
        <h4>inae_rosa</h4>

        <ul id="marca_menu">
            <a href="/usuario/metas/index"><li>metas</li></a>
            <a href="/usuario/leituras/index"><li>lista de leituras</li></a>
            <a href="/usuario/anotacoes/index"><li>minhas anotações</li></a>
            <div class="log-out">
                <a href="/"><i data-feather="log-out"></i></a>
                <a href="/"><p>sair</p></a>
            </div>
        </ul>
    </div>
    <div class="content">
