<nav class="navbar">

<a href="/">   <img src="/images/saturno.png"></a> 
    <ul>
        <% if(currentUser) { %> 
            <a href="/logout"><li>logout</li></a>
   
        
 
        <% } else { %> 
            <a href="/login"><li>login</li></a>
        <a href="usuario/new"><li>sign up</li></a>
        <% } %> 
    </ul>
</nav>