<%- include ('partials/head')%>
<%- include ('partials/navbar')%>
<br>
<div class="titulo">
    <h1>space.</h1>
    <p>UM ESPAÇO PARA ORGANIZAR SUAS IDEIAS</p>
</div>
<%- include('partials/footer')%>