<%- include('partials/head') %>
<%- include('partials/navbar') %>
<div class = "login">
    <h1>login</h1>
    <form action="/" method="POST">
        <label>
            <input type="text" placeholder="usuario" required size="28">
        </label>
        <label>
            <input type="password" placeholder="senha" required size="28">
        </label>
        <p>esqueceu seu passaporte?</p>
        <a href="/"><button>embarcar</button></a>
        
    </form>
</div>
<%- include('partials/footer') %>
