

:root{
    --fundo: #1A1A1A;
    --fundo_claro: #202020;
    --fonte_titulo:'Spartan', sans-serif;
    --fonte_texto:'Sanchez', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fundo);
    font-family:var(--fonte_texto);
    color: white;
}



.navbar{
    font-family: var(--fonte_titulo);
    font-size: 20px;
    margin-right: 30px;

    padding: 10px;
}
.navbar img{
    float: left;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.navbar ul{
    float: right;
    list-style: none;

}

.navbar ul li{
    display: inline;
    padding: 10px;
    padding-top: 20px;
    margin-top: 30px;
    
}
.navbar a{
    text-decoration: none;
    color: white;
}

.titulo{
    text-align: center;
    margin-top: 35vh;
    
    
}
.titulo h1{
    font-family: var(--fonte_titulo);
    font-size: 80px;
    color: white;
    
}
.titulo p{
    color: white;
    margin-left: 70px;
}

.login{
    background-color: var(--fundo_claro);
    width: 400px;
    height: 400px;
    justify-content: center;
    margin-left: 38%;
    margin-top: 12%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.login form{
    padding: 80px;
    padding-top: 10px;
}

input{
    background-color:var(--fundo);
    color: white;
    height: 30px;
    margin-top: 20px;
    margin-left: 5%;
}

.login h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
}

.login p{
    font-size: 12px;
    text-align: center;
}

.login button{
    background-color: var(--fundo);
    color: white;
    width: 90px;
    height: 32px;
    margin-left: 30%;
    margin-top: 10%;

}

#signup{
    padding-top: 40px;
    text-align: center;
}

.container_menu{
    display: flex;
}


.nav_horizontal{
    background-color: #202020;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 15vw;
    height: 100vh;
    border-top-right-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_horizontal img{
    min-width: 40px;
    min-height: 40px;
    max-height: 185px;
    max-width: 150px;
    object-fit: cover;
  
    border-radius: 180px;
    margin: 20px;
    padding: 5px;
}
.nav_horizontal h4{
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}


.nav_horizontal ul{
    margin-top: 50px;
    list-style: none;  
}

.nav_horizontal li{
    text-align: center;
    margin: 35px 0;
    font-size: 14.5px;
}

.nav_horizontal a {
    text-decoration: none;
    color: white;

}
 .settings{
     display: flex;
     justify-content: center;
     position: absolute;
     margin-bottom: 60px;
     bottom: 0;
 }
.log-out{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 13vh;
    margin-left:27px;
}

.log-out, .settings svg{
    margin-right: 10px;
}

#marca_menu li:hover{
    color: black;
}


.card-metas{
    
    
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
    width: 42vw;
    height: 40vh;
    margin-left: 48%;
    margin-top: 35%;
}

.card_texto table{

    margin-left: 3vw;
    padding-top:10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.card_texto table{
    margin-top: 20%;

}
.card_texto td{
    padding-right: 40px;
}

.card-metas a{
    text-decoration: none;
    color: white;
}

.card-metas p{
    margin-top: 0px;
    text-align: center;
    margin-left:0px;
}

.card-metas p:hover{
    color: black;
}

.container_to-do{

    display: flex;
    margin-left:25%;
    margin-top: 10%;
}

.container_to-do h5{
    text-align: center;
    padding:4px;
    width: 250px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);


}


.container_to-do h2{
    text-align: center;
    width: 250px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.973);
    background: rgba(0, 0, 0, 0.37);
}

.lista{
    margin-left: 20px;

}
i{
   padding:10px;
}

.adicionar{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    
}  
.adicionar button{
   background-color: var(--fundo);
   border:var(--fundo) 0px solid;
   margin-top:4%;
   margin-left: 2%;
   color: white;
   height: 30px;

}

.adicionar input{
    border:var(--fundo) 0px solid;
    border-bottom: white 1px solid;

    margin:6px;
    margin-left: 20%;
}

progress {
    width: 300px;

    margin: 8% auto;
    margin-bottom: 5vh;
    padding: 1px;
    background: var(--fundo_claro);
    border-radius: 14px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
progress::-moz-progress-bar {
    border-radius: 12px;
    background: var(--fundo);
    
    
  }

  progress::-webkit-progress-bar {
      background: transparent;
  }  
  progress::-webkit-progress-value {  
    border-radius: 12px;
    background: rgba(0,0,0,0.5);
  } 

.comentarios{
    margin-left: 20px;
    margin-top: 50px;
    width: 170%;
    color: white;
}

.comentarios h2{
    margin-left: 50px;
    margin-top: 80px;
    padding-bottom: 30px;
}

#autor{
    float: right;
}

.comentarios input, textarea{
    border: 0px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    font-family: var(--fonte_texto);
}

textarea{
    margin-left: 50px;
    margin-top: 30px;
    padding-top: 2px;
    padding-left: 2px;
    background-color: var(--fundo);
    padding: 10px;
    color: white;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-resizer{
    background: var(--fundo);
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(75, 75, 75, 0.8); 
   
}

.comentarios button{
    background-color: var(--fundo);
    color: white;
    display: block;
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px;
    width: 80px;
    border: 0px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: var(--fonte_texto);
}

#dashboardUsuario{
    padding: 20px;
    margin: 50px 50px auto;
}

#sorte{
    margin-top: 20px;
    font-style: italic;
}

.cards_dashboard{
    position: absolute;
    margin-top: 15vh;
    margin-left: 15vw;
        display: flex;
    justify-content: center;
 
}

#card_meta, #card_leituras, #card_resenha{
    background-color: var(--fundo_claro);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
    align-items: center;
    margin-left: 2vw;
    width: 13vw;
    height: 28vh;
    padding-top: 50px;
}

#card_meta button, #card_leituras button, #card_resenha button{
    padding: 5px;
    margin-top: 5vh;
    color: white;
    background-color: var(--fundo);
    border: 0px solid transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: var(--fonte_texto);
}

#biblioteca{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vw;
    margin-right: 10vw;
    max-height: 50px;
    max-width:20px;
}

#biblioteca a{
    text-decoration: none;
    color: white;
}

#head-biblioteca{
    margin: 70px 50px 70px;
}

#head-biblioteca a button{
    border: none;
    background-color: var(--fundo);
    color: white;
    font-size: 14px;
    margin-top: 8px;
    font-family: var(--fonte_texto);
}
.livro{
    margin-left: 50px;
    margin-bottom: 20px;
    overflow:-moz-hidden-unscrollable;
    padding: 20px;
    height: 25vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#info_livro{
    overflow: auto;
    width: 70vw;
    height: 60vh;
    margin-top: 10vw;
    margin-left: 5vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px;

}

#livro_cabecalho{
    margin-bottom: 20px;
}

#livro_cabecalho h5{
    margin-bottom: 20px;
}

#livro_cabecalho p{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.back{
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 180px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);  

}

.btnControle{
    display: flex;
    margin-left: 62vw;

}

#deleta_cadastro{
    margin-left: 5vw;
    margin-top: 2vh;
}

#deleta_cadastro button{
    border: none;
    border-radius: 180px;
    margin: 0px;
}