<%- include ('../../partials/head')%>

<%- include ('../../partials/nav_horizontal') %> 

<div class="container_to-do">
    <table>
        <tr id="primeiro_to-do">
            <td><p>quero ler</p></td>
            <td><p>estou lendo</p></td>
            <td><p>ja li</p></td>
        </tr>
        <tr>
            <td><p>+</p></td>
            <td><p>+</p></td>
            <td><p>+</p></td>
        </tr>
    </table>
</div>
<%- include ('../../partials/footer')%>