<%- include ('../../partials/head')%>
<%- include ('../../partials/nav_horizontal')%>

<div class="container_to-do">
	<div class="lista" id="ler">
		<div class="cabecalho">
			<h2  >quero ler</h2>
		</div>
			<h5> <i data-feather="bookmark" ></i>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
			<div class="adicionar">
			<input type="text" placeholder="novo livro"><button>+</button> 
			</div>
	</div>
	<div class="lista" id="lendo">
		<div class="cabecalho">
			<h2 >lendo</h2>
		</div>
			<h5> <i data-feather="bookmark" ></i>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
			<div class="adicionar">
				<input type="text" placeholder="novo livro"><button>+</button> 
				</div>
	</div>
	<div class="lista" id="lidos">
		<div class="cabecalho">
			<h2 >lidos</h2>
		</div>
			<h5> <lord-icon
				src="https://cdn.lordicon.com//wxnxiano.json"
				trigger="loop"
				colors="primary:#ffffff,secondary:#ffffff"
				style="width:35px;height:35px">
			</lord-icon>Chorar</h5>
			<h5><i data-feather="bookmark" ></i>Dormir</h5>
			<h5><i data-feather="bookmark" ></i>Comer</h5>
			<div class="adicionar">
				<input type="text" placeholder="novo livro"><button>+</button> 
				</div>
	</div>
</div>



<%- include ('../../partials/footer')%>
