<%- include ('../../partials/head')%>

<%- include ('../../partials/nav_horizontal') %> 

        <div class = "card-metas">
            <div class = "card_texto">
                <table>
                    <tr>
                        <td><label>jรก li</label></td>
                        <td><label>meta</label></td>
                    </tr>
                    <tr>
                        <td><input type="number" placeholder="ja li" min="0" autofocus></td>
                        <td><input type="number" placeholder="meta" min="0"></td>
                    </tr>
                </table>
            </div>
        </div>
</div>


<%- include ('../../partials/footer')%>