<%- include ('../../partials/head')%>

<%- include ('../../partials/nav_horizontal') %> 


<form action="/usuario/<%=usuario._id%>/metas?_method=PUT" method="POST" >
    <div class="comentarios">
        <h2>insira aqui sua meta</h2>
        <div class="dados_livro">
            <label  style="margin-left:50px"> minha meta: <br>
                <input type="number" min="1" name="meta" id="meta"  style="margin-left:50px" size=7 placeholder="insira aqui sua meta">
            </label>    
            <label  style="margin-left:50px" > já li: 
                <input type="number" min="1" name="lido" id="lido" style="margin-left:50px" size=7 placeholder="insira aqui os livros lidos">
            </label>  
        </div>  
       <button>enviar</button>
    </div> 
</form>
<%- include ('../../partials/footer')%>