<%- include ('../partials/head')%>
<%- include ('../partials/navbar')%>
<div class="login" id = "signup" >
    <h3>altere seu passaporte</h3>
    <form action="/usuario/<%=usuario._id%>?_method=PUT" method="POST">
        <label for ="nome">
            <input  type="text" name="nome" id="nome" placeholder="seu nome"  size="28">
        </label>
        <label for = "user">
            <input  type="text" name="user" id="user" placeholder="user"  size="28">
        </label>
        <label for = "email">
            <input type="text" name="email" id="email" placeholder="e-mail"  size="28">
        </label>
        <label for = "senha">
            <input  type="password" name="senha" id="senha" placeholder="senha"  size="28">
        </label>
        <label  for="confirme">
            <input type="password" name="confirme" id="confirme" placeholder="confirme a senha"  size="28">
        </label>

        <button>pronto</button>
        
    </form>
</div>

<%- include('../partials/footer')%>